.reservations__details_container {
    padding: 60px 0;
}

.reservations__details_box {
    list-style: none;
    padding: 20px;
    border: 2px solid var(--highlight-color-dark);
    border-radius: 16px;
    max-width: 400px;
    text-align: left;
}

@media all and (max-width: 1325px) {
    .reservations__details_box {
        margin: 20px auto;
    }
}