.footer {
    padding: 60px 0;
    background-color: var(--highlight-color-light);
}

.footer__logo {
    max-width: 60px;
}

.footer__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media all and (max-width: 1325px) {
    .footer__logo {
        margin-bottom: 20px;
    }

    .footer__links {
        margin: 15px 0;
    }
}