.reservation__form {
    padding: 60px 0;
}

.reservation__input_container {
    margin-bottom: 20px;
}

.reservation__label,
.reservation__input {
    display: block;
}

.reservation__label {
    font-weight: bold;
    margin-bottom: 10px;
}

@media all and (max-width: 1325px) {
    .reservation__form {
        display: flex;
        flex-direction: column;
        padding: 60px;
    }

    .reservation__submit {
        margin-top: 20px;
        width: 100%;
    }
}

.reservation__invalid {
    border-color: var(--highlight-color-invalid);
}

.reservation__errors {
    display: table;
    background-color: var(--highlight-color-invalid);
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 16px;
}